* {
    margin: 0;
    padding: 0;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image-section {
    width: 100%;
    height: 550px;
    min-width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0 0;
}

#slide-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 550px;
    max-height: 550px;
    transform: ease-in-out 2s;
}

#current-image {
    max-width: 100%;
    max-height: 550px;
    opacity: 100;
    transition: ease-in-out 2s;
}

#reverse-button {
    border: none;
    background-color: white;
    color: white;
    font-size: 35px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.24);
    padding: 0 8px 0 8px;
}

#advance-button {
    border: none;
    background-color: white;
    color: white;
    font-size: 35px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.322);
    align-self: flex-end;
    padding: 0 8px 0 8px;
}

/* AUDIO SECTION */

#audio-section{
    box-sizing: border-box;
    width: 100%;
    min-width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 40px 0;
}

#track-container {
    box-sizing: border-box;
    width: 100%;
    min-width: 370px;
    max-width: 68%;
}

.track {
    box-sizing: border-box;
    position: relative;
    padding: 10px 10px 10px 10px;
    margin: 0 0 40px 0 ;
}

.wave-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.initiate-overlay {
    box-sizing: border-box;
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
}

.load-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(143, 143, 143, 0.233);
    border-radius: 10px;
}

.load-box {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(102, 103, 155);
    box-shadow: 0 0 13px 15px rgb(102, 103, 155);
    color: white;
    width: 80px;
    height: 32px;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
}

.track-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.options-display {
    display: flex;
    align-items: center;
    gap: 20px;
}

.play-btn {
    display: flex;
    align-items: center;
    border-radius: 25px;
    border: none;
    background-color: white;
}

.play-btn:hover {
    background-color: #e8e9e8;
}

.play-img {
    height: 30px;
    width: 30px;
}

.pause-img {
    height: 30px;
    width: 30px;
}

.time-display {
    display: flex;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.current-display {
    margin: 0;
}

.duration-display {
    margin: 0;
}

.divider {
    margin: 0;
}
